##############################
## Java
##############################

*.class

##############################
## Maven
##############################
target/
pom.xml

.settings/
bin/
tmp/

.metadata
.classpath
.project


